.searchHeader{
  align-items: center;
  justify-content: center;
}
.searchHeader{
  padding: 50px;
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1579566346927-c68383817a25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
  background-size: 50%;
}
h1{
  color: white;
}
h2{
  font-size: 1.2rem;
  color: white;
}

form{
  margin-top: 50px;
  max-width: 400px;
}

input{
  margin-bottom: 10px;
}